body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
}

.nav{
    background: whitesmoke;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
}



.nav li{
    margin: 0 20px;
    display: inline-block;
    padding: 5px 20px 5px 0;
    
}
