@media all and (max-width:1024px) {
 .nav {
     flex-direction: column;
     padding: 35px 0px;
     justify-content: center;
 }

 .footer__block{
    padding: 50px;

}

.footer__text{
    padding: 50px;
}

.nav_list{
    margin-right: 0px;
}

.banner{

    height: 50%;
}


.meetus__clients{
 
    top: 200px;

}

.simbolfinal1{
    display: none;
}

.simbolfinal2{
    display: none;
}

.features1{
    padding: 50px 0px;
}

}

@media all and (max-width: 768px) {
    .brands {
        width: 90%;
    }

    .brands div {
        width: 50%;
    }
}