
.products{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 7em;
}

.filters{

    margin-top: 8em;
    margin: 20px 0;
    background-color: #9191916d;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.product {
    display: block;
    width: 250px;
    text-decoration: none;
    border: solid 1px #4B3E35;
    border-radius: 10px;
    margin: 0 20px;
    margin-top: 2em;
    &__image {

        width: 100%;
        height: 250px;
        object-fit: contain;
        
    }

    &__description {
        padding: 10px 15px;
        color: #4B3E35;
    }

    &__tag {
        background-color: #000;
        color:#FFF;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: .9em;
        margin: 10px 0px;
    }

    &__price{

        padding: 10px 0px;
    }

    &__name{

        padding: 10px 0px;
    }

    &__cart {
        font-family: 'Dela Gothic One', cursive;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        color: #4B3E35;
        margin: 10px 0px;
        padding: 5px 0px;
        width: fit-content;
        border: 2.67816px solid #EE1542;
        border-radius: 4.01724px;
        padding: 5px;
        text-decoration: none;
        color: #4B3E35;
        display: flex;
        background: whitesmoke;

        &:disabled{
            background-color: gray;
            color: white;
        }


    }


}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    overflow-x: hidden;
}

.nav{
    background: whitesmoke;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: space-between;

}

.nav a{
    text-decoration: none;
    color: black;
}


.nav li{
    
    display: inline-block;
    padding: 30px 20px 5px 0;
    
    
}

.nav_logo{
    margin-left: 30px;
}

.nav_list{

    margin-right: 30px;
}

.banner{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dela Gothic One', cursive;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #4B3E35;
    position: relative;
}

.banner__photo{
    z-index: 1;
    width: 100%;
    height: 100%;
}

.banner__simbol{
    position: absolute;
    z-index: 2;    
    
}

.banner__absolute {
    position: absolute;
    z-index: 10;
    bottom: 110px;
    left: 0;
    width: 100%;

}

.banner__tittle {
    background: #FFF;
    padding: 20px 20px 20px 100px;
    width: fit-content;
    font-size: 35px;
}

.banner__button{

    width:fit-content;
    border: 2.67816px solid #EE1542;
    border-radius: 4.01724px;
    padding: 5px;
    text-decoration: none;
    color: #4B3E35;
    margin-left: 100px;
    display: flex;
    margin-top: 15px;
    background: whitesmoke;
}

.form__button{
    font-family: 'Dela Gothic One', cursive;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #4B3E35;
    width:fit-content;
    border: 2.67816px solid #EE1542;
    padding: 5px 30px;
    border-radius: 4.01724px;
    text-decoration: none;
    display: flex;
    margin-top: 15px;
    background: whitesmoke;

}

.form__buttonfinale{
    display: flex;
    justify-content: end;

}

.aboutus{
    
    display: flex;
    align-items: center;
    
}

.aboutus__image{
    position: relative;
    width: 100%;
    display: flex;

}

.aboutus__image__image{
    width: 100%;

}

.aboutus__image__simbolplant{
    position: absolute;
    top:-100px;
    z-index: 15;
    right: 0;


}

.aboutus__image__simbolcoffe{
    position: absolute;
    z-index: 15;
    bottom: -80px;
    left: 50px;

}
.aboutus__block{
    align-items: center;
    width: 100%;
    padding: 0px 100px;
}

.aboutus__block__tittle{
    font-family: Dela Gothic One;
    font-style: normal;
    font-weight: normal;
    font-size: 36.9667px;
    line-height: 38px;
    text-transform: uppercase;
    margin-bottom: 10px;

}

.features{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.meetus{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.meetus__image{
    width: 100%;  
    z-index: 1;
    

}

.meetus__simbol{
    position: absolute;
    z-index: 5;    
    right: 0PX;
    bottom: -100px;
}

.meetus__clients{

    position: absolute;
    z-index: 5;    
    top: 350px;

}

.brands{
    width: 1024px;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
    flex-wrap: wrap;
    margin: 50px auto;
}

.features__item__1{
    align-items: flex-start;
   

}




.form{
    width: 100%;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.form2{
    width: 50%;
    padding: 0px 0px 0px 200px;
}

.form3{
    width: 100%;
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-top: 50px;
}
.form__image{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
}

.form__text{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 200px;
    
}

.form__text2{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
}
.form__text__item{
    background: #FFFFFF;
    border: 2px solid #EE1542;
    border-radius: 3px;
    padding: 10px;
    z-index: 3;

}

.formlabel{
    background: white;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: -10px;
    margin-left: 15px;
    z-index: 16;
    padding: 0px 3px 0px 3px;

}

.form__textbox{
    background: #FFFFFF;
    border: 2px solid #EE1542;
    border-radius: 3px;
    padding: 80px;
    z-index: 3;
}

.images{
    width: 70%;


}
.picture{

    width: 100%;
}

.features1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 60px 100px;
}

h2{

    font-family: 'Dela Gothic One', cursive;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-size: 27px;
}

.features__item__tittle{

    margin-left: -20px;


}

.block__absolut{
    position: relative;
    display: flex;
    width: 100%;

}

.simbolfinal1{
    position: absolute;
    z-index: 20;
    right: 0px;
    bottom: -400px;
   
}

.simbolfinal2{
    position: absolute;
    z-index: 20;
    left: 0px;
    bottom: -200px;
}

.footer{
    background: whitesmoke;
    display: flex;
    z-index: 18;
    width: 100%;
    justify-content: center;

}

.footer__block{
    padding: 150px;

}

.footer__text{
    padding: 150px;
}

.list{
    list-style: none;
}


